<nav class="flex text-white h-16 gap-4 items-center justify-around bg-black">

    <h1 class="text-2xl">Grip Galaxy</h1>
    <a href="/users/cuestion">
        <img src="/svg/user.svg" alt="User SVG">
    </a>
</nav>