<div class="flex flex-col gap-4 h-screen w-screen items-center justify-center bg-sky-200 text-xl">
    <h1>Hola, no tienes cuenta? <a class="bg-sky-300 rounded-full p-2" href="/users/register">Registrate</a></h1>
    <h1>Si tienes cuenta <a class="bg-sky-300 rounded-full p-2" href="/users/login">Ingresa</a></h1>
</div>